// Correct `block` display not defined in IE 8/9.
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
  display: block;
}

// Correct `inline-block` display not defined in IE 8/9.
audio,
canvas,
video {
  display: inline-block;
}

*,
*:after,
*:before {
	box-sizing: border-box;
	-webkit-touch-callout: none; // Disable long-press on links.
 	//-webkit-user-select: none; // Disable select/copy.
  background-repeat: no-repeat;
}