%norwester {
	font-family: 'Norwester';
	text-transform: uppercase;
}

%pragmaticaweb {
	font-family: 'pragmatica-web',sans-serif;
	font-style: normal;
	font-weight: 400;
}

%signika {
	font-family: 'Signika Negative', sans-serif;
	font-weight: 300;
	color: #727272;
}