@font-face {
  font-family: 'Norwester';
  src: url('/fonts/norwester.eot');
  src: url('/fonts/norwester.eot#iefix') format('embedded-opentype'),
       url('/fonts/norwester.woff') format('woff'),
       url('/fonts/norwester.ttf') format('truetype'),
       url('/fonts/norwester.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}