div.amateurs section {
	margin-top: 0px;
	margin-bottom: 125px;

	@include at-least($bp1) {
		margin: 125px 0;
	}

	> div {
		overflow: hidden;
	}

	img {
		width: 100%;

		@include at-least($bp1) {
			float: left;
			margin-right: 20px;
			width: auto;
		}
	}

	h3 {
		@include pem(29px);
		line-height: 1.5;
		color: #575656;
		font-style: italic;
		margin: 10px 0;
		

		@include at-least($bp1) {
			margin: 10px 0 40px;
		}
	}

	p {
		line-height: 1.5;
	}
}