.locations {
	background: #262627 url('/images/45deg_scanlines.png') top left;

	section {
		text-align: center;
		padding: 40px 0 20px;
	}

	section > h3 {
		position: relative;
		z-index: 10;
		display: inline-block;
		background: $reddish;
		height: 58px;
		line-height: 58px;
		margin-bottom: 40px;
		color: #fff;
		@include pem(16px);
		padding: 0 50px;

		@include at-least($bp1) {
			@include pem(39px);
		}
		

		&:before, &:after {
			content: '';
			background-image: url('/images/locations_snippets.png');
			background-repeat: no-repeat;
			width: 94px;
			height: 51px;
			top: 3px;
			display: block;
			position: absolute;
		}

		&:before {
			background-position: top left;
			left: -54px;
		}

		&:after {
			background-position: bottom right;
			right: -53px;
		}
	}

	ul, ul li {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	ul li {
		display: block;
		vertical-align: top;

		img {
			border-radius: 70px;
		}

		h3 {
			color: #fff;
			margin: 20px 0 0 0;
		}

		@include at-least($bp2) {
			display: inline-block;
			
			&:nth-child(2) {
				margin: 0 100px;
			}
		}

		@include until($bp2) {
			h3 {
				margin: 10px 0 30px;	
			}
		}
	}
}